body {
    margin: 0;
    font-family: ui-sans-serif, Helvetica Neue;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0;

    .appLabel {
        display: flex;
        align-items: center;
        gap: 5px 10px;

        img {
            border-radius: 10px;
            max-width: 32px;
        }
    }

    .menu {
        display: flex;
        list-style-type: none;
        gap: 5px 10px;

        a {
            text-decoration: none;
            color: gray;
        }
    }

    .menuMobile {
        display: flex;
        list-style-type: none;
        gap: 5px 10px;

        a {
            text-decoration: none;
            color: gray;
        }
    }

    button {
        display: none;
    }

    @media (max-width: 600px) {
        button {
            display: block;
        }

        .menu {
            display: none;
        }

        .menuMobile {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
}