<nav>
  <div class="sss">
    <div class="icon">
      <img src="appicon.png" alt="App icon">
      <h3 class="app-name">QuitMate</h3>
    </div>
    <div class="menu" (click)="toggleDropdown()">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>
  </div>
  <div class="links {{hideDropdown}}">
    <a class="link"
       routerLinkActive="selected"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLink="/">Home</a>
    <a class="link"
       routerLinkActive="selected"
       routerLink="/privacy">Privacy</a>
    <a class="link"
       routerLinkActive="selected"
       routerLink="/support">Support</a>
  </div>
</nav>

