nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.menu {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
  }

  .menu-line {
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }

  nav {
    flex-direction: column;
    align-items: stretch;
  }

  .hide {
    display: none;
  }
}
